@import url("../vendor/normalize.css");
@import url("../blocks/page.css");
@import url("../blocks/recipes.css");
@import url("../blocks/card.css");
@import url(../blocks/favorites.css);
@import url(../blocks/favorite.css);
