.breakfast {
  margin: 0 auto;
  background: no-repeat #0a2750 center / cover url(../images/background-one.jpg);
  padding: 80px;
  text-align: center;
  position: relative;
}

.breakfast__title {
  color: #fff;
}

.breakfast__text {
  color: #fff;
}
