.favorites {
  padding: 100px 50px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 500px;
}

.favorites__title {
  margin: 60px auto 0 100px;
  max-width: 780px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: white 0.5px;
  font-size: 60px;
  color: white;
}

.favorites__subtext {
  margin: 30px auto 0 100px;
  max-width: 500px;
  font-weight: 400;
  font-size: 20px;
  color: white;
}

.favorites__list {
  position: absolute;
  top: 150px;
  right: 100px;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  flex-wrap: wrap;
}
