.favorites {
  padding-top: 60px;
  background-color: #f19143;
}

.favorites__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 600px);
  justify-content: center;
  gap: 40px 100px;
}
