.favorite {
  width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: tan;
  padding: 30px;
  position: relative;
}

.favorite__picture {
  height: 180px;
  width: 34%;
  object-fit: cover;
  display: block;
  border-radius: 200px;
}

.favorite__name {
}

.favorite__image {
  height: 413px;
  width: 90%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  z-index: 1;
  opacity: 100%;
}

.favorite__image:hover {
  opacity: 20%;
}

.favorite__text {
  position: absolute;
  bottom: 200px;
  left: 200px;
}
