.header {
  padding: 0;
  min-height: 900px;
  max-width: 100%;
  position: relative;
}

.header__video {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: blur(3px);
}

.header__logo-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
  min-width: 100%;
  z-index: -1;
}

.header__logo {
  max-width: 300px;
  max-height: 100%;
}

.header__title {
  font-size: 100px;
  margin: 0;
  text-align: center;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.2px white;
}

.header__text {
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin: 10px auto 0;
}