.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.2s, opacity 0.1s linear;
  display: grid;
  backdrop-filter: blur(10px);
}

.modal_opened {
  opacity: 1;
  visibility: visible;
}

.modal__container {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  border-radius: 10px;
  position: relative;
  margin: auto;
  z-index: 10;
  width: 80%;
  height: 85%;
  opacity: 1;
  padding: 20px;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  display: grid;
  grid-template-areas:
    "img ingre"
    "dir dir"
    "title title";
  grid-template-columns: 500px auto;
  grid-template-rows: 500px auto auto;
  gap: 25px;
}

.modal__image {
  max-width: 500px;
  max-height: 500px;
  border-radius: 12px;
  grid-area: img;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.modal__info {
  display: contents;
}

.modal__close-btn {
  background: no-repeat center / contain url("../images/close-btn.png");
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 30px;
  height: 20px;
  border: none;
  border-radius: 15px;
  top: 15px;
  right: 15px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.modal__close-btn:hover {
  transform: scale(1.2);
  background-color: rgba(230, 129, 13, 0.801);
}

.modal__heading {
  margin: 0;
  font-size: 24px;
}

.modal__title {
  font-family: "Atkinson", Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
  font-size: 36px;
  grid-area: title;
}

.modal__text {
  font-family: "Atkinson", Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

.modal-ingredients {
  grid-area: ingre;
  font-size: 20px;
}

.modal-directions {
  grid-area: dir;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
}
