.page {
  margin: 0 auto;
  background-image: linear-gradient(to left, #434343 0%, black 100%);
  background-blend-mode: multiply;
  font-family: "Atkinson", Helvetica, sans-serif;
}

.page__content {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.page__section {
  min-height: 900px;
}
