.recipes {
  margin: 0 auto;
  text-align: center;
  position: relative;
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.recipes:first-of-type {
  padding-top: 100px;
}

.recipes__heading {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  align-items: center;
  max-width: 600px;
  justify-content: center;
}

.recipes__text {
  margin: 0;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: white 0.5px;
  font-size: 60px;
}

.recipes__subtext {
  margin: 0;
  color: rgba(255, 156, 43, 0.986);
  font-weight: 600;
  line-height: 30px;
  margin-top: 10px;
  font-size: 20px;
}
.recipes__subtext span {
  color: white;
  text-decoration: underline rgba(255, 156, 43, 0.986) 4px;
}

@media (max-width: 900px) {
  .recipes {
    display: block;
  }
  .recipes__heading {
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .recipes {
    min-height: 1400px;
  }
}

@media (max-width: 450px) {
  .recipes {
    min-height: 2500px;
  }
}
